<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.fanjie.douya" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".view.UserContentActivity"
            android:label="@string/title_activity_my_content" >
        </activity>
        <activity
            android:name=".view.UserVideosActivity"
            android:label="@string/title_activity_my_videos" >
        </activity>
        <activity
            android:name=".view.LearnNowVideosActivity"
            android:label="@string/title_activity_learn_now_videos" >
        </activity>
        <activity
            android:name=".view.UserPartysActivity"
            android:label="@string/title_activity_my_partys" >
        </activity>
        <activity
            android:name=".view.UserInterestActivity"
            android:label="@string/title_activity_my_interest" >
        </activity>
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".view.HotVideosActivity"
            android:label="@string/title_activity_hot_videos" >
        </activity>
        <activity
            android:name=".view.LocalVideosActivity"
            android:label="@string/title_activity_local_videos" >
        </activity>
        <activity
            android:name=".view.HotInterestActivity"
            android:label="@string/title_activity_hot_interest" >
        </activity>
        <activity
            android:name=".view.VideoContentActivity"
            android:label="@string/title_activity_video_content" >
        </activity>
        <activity
            android:name=".view.PartyContentActivity"
            android:label="@string/title_activity_party_content" >
        </activity>
        <activity
            android:name=".view.UserHomeActivity"
            android:label="@string/title_activity_user_home" >
        </activity>
        <activity
            android:name=".view.ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
    </application>

</manifest>
